tr.mat-row { height: 65px; }

.th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }
  .mat-column-Name {
    width: 300px;
  }
  .mat-column-NumberOfDays {
    width: 150px;
  }
  

