
tr.mat-row { height: 75px; }

.th-center{
    text-align: center;
}
.th-left{
text-align: left;
}
.th-right{
text-align: right;
}

.mat-column-Name {
    width: 250px;
}
.mat-column-Type {
    width: 250px;
}
.mat-column-UserType {
    width: 250px;
}
.mat-column-Ads {
    width: 150px;
}
.mat-column-Pictures {
    width: 150px;
}
.mat-column-Active {
    width: 250px;
}

