<div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
    <div class="w-full max-w-3xl">
        <!-- Avatar and actions -->
        <div class="flex flex-auto items-end -mt-16">
            <!-- Avatar -->
            <div class="flex items-center justify-center w-28 h-28 rounded-full overflow-hidden ring-4 ring-bg-card">
                <img class="object-cover w-full h-full" *ngIf="countryDetail.icon" [src]="countryDetail.icon" />
                <img class="object-cover w-full h-full" *ngIf="countryDetail.icon == null"
                    src="../../../assets/images/avatars/nopicture.png" />
            </div>

            <!-- Actions -->
            <div class="flex items-center ml-auto mb-1">
                <button *ngIf="isEditPermission" mat-stroked-button [routerLink]="['edit-country', countryDetail.countryId]">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                    <span class="ml-2">Edit</span>
                </button>
            </div>
        </div>

        <!-- Name -->
        <div class=" flex flex-row items-end ">
            <div class="basis-3/4 mt-3 text-3xl font-bold truncate">
                {{ countryDetail.name }}
            </div>
            <ng-container *ngIf="countryDetail.active">
                <div class="basis-1/4  mt-3 text-0.5xl truncate flex items-end gap-1">
                    <mat-icon class="text-green-400 icon-size-6 items-end" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <span class="text-green-400">Active</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!countryDetail.active">
                <div class="basis-1/4  mt-3 text-0.5xl  truncate flex items-end gap-1">
                    <mat-icon class="text-red-400 icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    <span class="text-red-400">Inactive</span>
                </div>
            </ng-container>

        </div>

        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
            <!-- List of regions -->
            <ng-container>
                <div class="flex sm:items-center" *ngFor="let reg of countryDetail.regions">
                    <mat-icon [svgIcon]="'mat_outline:location_on'"></mat-icon>
                    <div class="ml-6 leading-6">{{ reg.name }}</div>
                </div>
            </ng-container>  

            <ng-container *ngIf="countryDetail.regions.length == 0">
                <div class="flex sm:items-center">
                    <mat-icon [svgIcon]="'mat_outline:cancel'"></mat-icon>
                    <div class="ml-6 leading-6">No regions configured!</div>
                </div>
            </ng-container>  
    </div>
</div>