<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Header -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon class="icon-size-10" svgIcon="heroicons_solid:pencil-alt"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div *ngIf="!isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Create new subscription model</div>
                        <div *ngIf="isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Edit subscription model: {{ subcriptionModalData.name }} </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="back()" class="ml-4" mat-flat-button [color]="'accent'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>
    </div>
    <div class="flex min-h-5"></div>
    <div class="flex-auto overflow-hidden sm:overflow-y-auto">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Subscription Model">
                <!-- Form -->
                <div class="shadow-lg overflow-auto">
                    <div class="flex border-b border-b border-t border-l border-r">
                        <!-- Add Subscription Modal Form -->
                        <form class="flex flex-col w-full" [formGroup]="subscriptionModalForm">
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                    <div class="flex mb-4">
                                        <div class="box pr-4">

                                            <div *ngIf="!imageData" class="js--image-preview"></div>
                                            <div *ngIf="imageData">
                                                <img [src]="imageData" />
                                            </div>
                                            <div class="upload-options">
                                                <label>Load Picture
                                                    <input type="file" class="image-upload" accept="image/*"
                                                        (change)="onFileSelect($event)" />
                                                </label>
                                            </div>

                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mt-1">
                                                <mat-label>Description</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                                <textarea matInput [formControlName]="'description'" [rows]="5"
                                                    [spellcheck]="false" matTextareaAutosize></textarea>
                                            </mat-form-field>

                                        </div>
                                        <div class="right-content">

                                            <mat-form-field class="w-full">
                                                <mat-label>Name</mat-label>
                                                <input matInput [formControlName]="'name'">
                                                <mat-error
                                                    *ngIf="subscriptionModalForm.get('name').hasError('required')">
                                                    Name is required
                                                </mat-error>
                                            </mat-form-field>

                                            <!-- <mat-form-field class="w-full">
                                                <mat-label>User type</mat-label>
                                                <input matInput [formControlName]="'userType'">
                                                <mat-error
                                                    *ngIf="subscriptionModalForm.get('userType').hasError('required')">
                                                    User type is required
                                                </mat-error>
                                            </mat-form-field> -->

                                            <mat-form-field class="w-full ">
                                                <mat-label>Select a User type</mat-label>
                                                <mat-select required [formControlName]="'userType'">
                                                    <mat-option [value]="'Internet'">
                                                        Internet
                                                    </mat-option>
                                                    <mat-option [value]="'Consumers'">
                                                        Consumers
                                                    </mat-option>
                                                    <mat-option [value]="'Small Business'">
                                                        Small Business
                                                    </mat-option>
                                                    <mat-option [value]="'Large Business'">
                                                        Large Business
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="subscriptionModalForm.get('userType').hasError('required')">
                                                    Campaign type is required
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="w-full">
                                                <mat-label>Subscription type</mat-label>
                                                <input matInput [formControlName]="'subscriptionType'">
                                                <mat-error
                                                    *ngIf="subscriptionModalForm.get('subscriptionType').hasError('required')">
                                                    Subscription type is required
                                                </mat-error>
                                            </mat-form-field>

                                            <div class="flex-input-layout">
                                                <div class="input-layout-box pr-3">

                                                    <mat-form-field class="">
                                                        <mat-label>No of ads</mat-label>
                                                        <input type="num" matInput [formControlName]="'nrOfAds'"
                                                            [disabled]="checkbox.checked">
                                                        <mat-error
                                                            *ngIf="subscriptionModalForm.get('nrOfAds').hasError('required')">
                                                            No of ads is required
                                                        </mat-error>
                                                    </mat-form-field>

                                                    <mat-checkbox class="" [color]="'primary'" #checkbox
                                                        [formControlName]="'unlimitedAds'">
                                                        Unlimited 
                                                    </mat-checkbox>

                                                </div>
                                                <div class="input-layout-box pr-3">

                                                    <mat-form-field class="">
                                                        <mat-label>No of picture</mat-label>
                                                        <input matInput [formControlName]="'nrOfPictures'"
                                                            [disabled]="disabled">
                                                    </mat-form-field>

                                                    <mat-checkbox class="mr-4" [color]="'primary'"
                                                        [formControlName]="'unlimitedPictures'">
                                                        Unlimited 
                                                    </mat-checkbox>

                                                </div>
                                                <div class="input-layout-box">
                                                    <mat-checkbox class="" [color]="'primary'" #checkbox
                                                    [formControlName]="'active'">
                                                    Active
                                                </mat-checkbox>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <mat-divider class="mt-6 mb-10"></mat-divider>
                                    <mat-label>Characteristics</mat-label>
                                    <div class="tick-flex-layout">
                                        <div class="coustom-flex-layout mt-3 mb-3">

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'searchEngine'" [(ngModel)]="subcriptionModalData.isSearchEngine">
                                                Search engine
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'basicCampaigns'" [(ngModel)]="subcriptionModalData.isBasicCampaigns">
                                                Basic campaigns
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'trends'"  [(ngModel)]="subcriptionModalData.isTrends" >
                                                Trends
                                            </mat-checkbox>

                                        </div>
                                        <div class="coustom-flex-layout mb-3">

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'vouchers'"  [(ngModel)]="subcriptionModalData.isVouchers" >
                                                Vouchers
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'extendedCampaigns'"  [(ngModel)]="subcriptionModalData.isExtendedCampaigns" >
                                                Extended campaigns
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'partnerships'"  [(ngModel)]="subcriptionModalData.isPartnership" >
                                                Partnerships
                                            </mat-checkbox>

                                        </div>
                                        <div class="coustom-flex-layout mb-3">

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'socialMedia'"  [(ngModel)]="subcriptionModalData.isSocialMedia" >
                                                Social Media
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'statistics'"  [(ngModel)]="subcriptionModalData.isStatistics" >
                                                Statistics
                                            </mat-checkbox>

                                            <mat-checkbox class="mb-3" [color]="'primary'"
                                                [formControlName]="'onlineSupport'"  [(ngModel)]="subcriptionModalData.isOnlineSupport" >
                                                Online support
                                            </mat-checkbox>

                                        </div>
                                    </div>
                                    <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">

                                        <button class="mr-4" mat-flat-button (click)="back()">
                                            <span class="ml-2 mr-1">Cancel</span>
                                        </button>

                                        <button *ngIf="isEditMode" mat-flat-button [color]="'primary'"
                                            (click)="editSubscription()">
                                            <span class="ml-2 mr-1">Update</span>
                                        </button>

                                        <button *ngIf="!isEditMode" mat-flat-button [color]="'primary'"
                                            (click)="addSubscriptionModal()">
                                            <span class="ml-2 mr-1">Save</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>