<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Header -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon svgIcon="heroicons_outline:speakerphone"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div *ngIf="!isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Create new campaign</div>
                        <div *ngIf="isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Edit campaign </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="back()" class="ml-4" mat-flat-button [color]="'accent'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>
    </div>

    <div class="flex min-h-5"></div>
    <div class="flex-auto overflow-hidden sm:overflow-y-auto">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Campaign">
                <!-- Form -->
                <div class="shadow-lg overflow-auto">
                    <div class="flex border-b border-b border-t border-l border-r">
                        <!-- Add Campaign Form -->
                        <form class="flex flex-col w-full" [formGroup]="campaignForm">
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                    <div class="flex mb-4">
                                        <div class="box pr-4">

                                            <div *ngIf="!imageData" class="js--image-preview"></div>
                                            <div *ngIf="imageData">
                                                <img [src]="imageData" />
                                            </div>
                                            <div class="upload-options">
                                                <label>Load Picture
                                                    <input type="file" class="image-upload" accept="image/*"
                                                        (change)="onFileSelect($event)" />
                                                </label>
                                            </div>

                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mt-1">
                                                <mat-label>Description</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                                <textarea matInput [formControlName]="'description'" [rows]="5"
                                                    [spellcheck]="false" matTextareaAutosize></textarea>
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mt-1">
                                                <mat-label>Impact campaign on position</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                                <textarea matInput [formControlName]="'impactPosition'" [rows]="5"
                                                    [spellcheck]="false" matTextareaAutosize></textarea>
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mt-1">
                                                <mat-label>Impact campaign on views</mat-label>
                                                <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                                <textarea matInput [formControlName]="'impactViews'" [rows]="5"
                                                    [spellcheck]="false" matTextareaAutosize></textarea>
                                            </mat-form-field>

                                        </div>
                                        <div class="right-content">

                                            <mat-form-field class=" w-full ">
                                                <mat-label>Select a campaign type</mat-label>
                                                <mat-select [formControlName]="'campaigntype'"
                                                    (selectionChange)="selectedCampaignType($event)">
                                                    <mat-option *ngFor="let campaign of campaginTypes"
                                                        [value]="campaign.campaignTypeId">
                                                        {{campaign.name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="campaignForm.get('campaigntype').hasError('required')">
                                                    Campaign type is required
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="w-full ">
                                                <mat-label>Select a reach type</mat-label>
                                                <mat-select [formControlName]="'reachtype'"
                                                    (selectionChange)="selectedReachType($event)">
                                                    <mat-option *ngFor="let reachType of reachTypes"
                                                        [value]="reachType.reachTypeId">
                                                        {{reachType.name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="campaignForm.get('reachtype').hasError('required')">
                                                    Reach type is required
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="w-full ">
                                                <mat-label>Select period type</mat-label>
                                                <mat-select [formControlName]="'periodtype'"
                                                    (selectionChange)="selectedPeriodType($event)">
                                                    <mat-option *ngFor="let periodType of periodTypes"
                                                        [value]="periodType.periodTypeId">
                                                        {{periodType.name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="campaignForm.get('periodtype').hasError('required')">
                                                    Period type is required
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="w-full">
                                                <mat-label>Price</mat-label>
                                                <span matPrefix>€</span>
                                                <input type="number" matInput [formControlName]="'price'"
                                                    (keyup)='onKeyupCalculate()'>
                                                <mat-error *ngIf="campaignForm.get('price').hasError('required')">
                                                    Price is required
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="w-full">
                                                <mat-label>Discount percentage</mat-label>
                                                <span matPrefix>%</span>
                                                <input type="number" matInput [formControlName]="'discountPercentage'"
                                                    (keyup)='onKeyupCalculate()'>
                                                <mat-error
                                                    *ngIf="campaignForm.get('discountPercentage').hasError('required')">
                                                    Discount percentage is required
                                                </mat-error>
                                            </mat-form-field>

                                            <div class="flex">

                                                <mat-form-field class="w-1/3 pr-2">
                                                    <mat-label>Net price</mat-label>
                                                    <span matPrefix>€</span>
                                                    <input matInput [formControlName]="'netPrice'" readonly>
                                                </mat-form-field>

                                                <mat-form-field class="w-1/3 px-2">
                                                    <mat-label>Saving</mat-label>
                                                    <span matPrefix>€</span>
                                                    <input matInput [formControlName]="'saving'" readonly>
                                                </mat-form-field>

                                                <mat-form-field class="w-1/3 pl-2">
                                                    <mat-label>Price/day</mat-label>
                                                    <span matPrefix>€</span>
                                                    <input matInput [formControlName]="'pricePerDay'" readonly>
                                                </mat-form-field>

                                            </div>

                                            <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'active'">
                                                Active
                                            </mat-checkbox>

                                            <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">
                                                <button class="mr-4" mat-flat-button (click)="back()">
                                                    <span class="ml-2 mr-1">Cancel</span>
                                                </button>

                                                <button *ngIf="isEditMode" mat-flat-button [color]="'primary'"
                                                    (click)="editCampaign()">
                                                    <span class="ml-2 mr-1">Update</span>
                                                </button>

                                                <button *ngIf="!isEditMode" mat-flat-button [color]="'primary'"
                                                    (click)="addCampaign()">
                                                    <span class="ml-2 mr-1">Save</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>