
<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"> 
        <!-- Header -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon svgIcon="heroicons_outline:user"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div *ngIf = "!isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Create new user</div>
                        <div *ngIf = "isEditMode && userData"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Edit user : {{userData.name}} {{userData.lastName}}</div>
                    </ng-container>
                    
                </div>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="back()" class="ml-4" mat-flat-button [color]="'accent'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>
    </div>

    <div class="flex min-h-5"></div>
    <div class="flex-auto overflow-hidden sm:overflow-y-auto">
        <mat-tab-group animationDuration="0ms"  >
            <mat-tab label="User information">
                <!-- Form-->
                <div class="shadow-lg overflow-auto">
                    <div class="flex border-b border-b border-t border-l border-r">
                        <!-- Add User form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="userForm">
                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                    <div class="flex mb-4">
                                        <div class="box pr-4">
                                            <div *ngIf="!imageData" class="js--image-preview"></div>
                                            <div *ngIf="imageData">
                                                <img [src]="imageData" />
                                            </div>
                                            <div class="upload-options">
                                                <label>Load Picture
                                                    <input type="file" class="image-upload" accept="image/*" (change)="onFileSelect($event)" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <mat-form-field class="w-full">
                                                <mat-label>First Name</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'name'">
                                        
                                                <mat-error *ngIf="userForm.get('name').hasError('required')">
                                                    First Name  is required
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="w-full">
                                                <mat-label>Last Name</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'lastName'">
                                                    <mat-error *ngIf="userForm.get('lastName').hasError('required')">
                                                        Last Name  is required
                                                    </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div class="flex">
                                        <mat-form-field class="w-full mr-3">
                                            <mat-label>User name</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'userName'">
                                            <mat-error *ngIf="userForm.get('userName').hasError('required')">
                                                    User Name  is required
                                                </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Email address</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'email'">
                                                <mat-error *ngIf="userForm.get('email').hasError('required')">
                                                    Email  is required
                                                </mat-error>
                                                <mat-error *ngIf=" userForm.get('email').hasError('email')">
                                                    Please enter a valid email
                                                </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex mb-3">
                                        <mat-form-field class="w-full mr-3">
                                            <mat-label>Password</mat-label>
                                            <input type="password"
                                                matInput
                                                [formControlName]="'password'">
                                                <mat-error *ngIf="userForm.get('password').hasError('required')">
                                                    Password is required
                                                </mat-error>
                                                <mat-error *ngIf="userForm.get('password').hasError('minlength')">
                                                    Password should contain 8 characters
                                                </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="w-full">
                                            <mat-label>Password (repeat)</mat-label>
                                            <input type="password"
                                                matInput
                                                [formControlName]="'repeatpassword'">
                                                <mat-error *ngIf="userForm.get('repeatpassword').hasError('required')">
                                                    Password is required
                                                </mat-error>
                                                <mat-error *ngIf="userForm.get('repeatpassword').hasError('mustMatch')">
                                                    Passwords must match
                                                </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'changePwdAtNextLogin'">
                                        Should change password on next login
                                    </mat-checkbox>
                                    <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'sendActivationEmail'">
                                        Send activation email
                                    </mat-checkbox>
                                    <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'active'">
                                        Active
                                    </mat-checkbox>
                                    <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">
                                        <button (click)="back()" class="mr-4" mat-flat-button >
                                            <span class="ml-2 mr-1">Cancel</span>
                                        </button>
                                        <button *ngIf="isEditMode" mat-flat-button [color]="'primary'" [disabled]="userForm.disabled" (click)="editUser()">
                                            <span class="ml-2 mr-1">Update</span>
                                        </button>
                                        <button *ngIf="!isEditMode" mat-flat-button [color]="'primary'" [disabled]="userForm.disabled" (click)="addUser()">
                                            <span class="ml-2 mr-1">Save</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf = "isEditMode" label="Assigned roles">
                <div class="shadow-lg overflow-auto">
                    <div class="flex flex-col border-b border-b border-t border-l border-r">
                        <div class="flex flex-col">
                            <!-- Assign role form -->
                            <form  class="flex flex-col w-full" [formGroup]="roleForm">
                                <div class="flex flex-col sm:flex-row p-8">
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                        <!--Role names field-->
                                        <div class="flex flex-row items-center ">
                                            <mat-form-field class="w-full mr-3">
                                                <mat-label>Select a role</mat-label>
                                                <mat-select [formControlName]="'name'" (selectionChange)="selectedRole($event)" >
                                                    <mat-option *ngFor="let role of roleData" [value]="role.roleId">
                                                        {{role.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <button (click)="AssignRole()" class="ml-4" mat-flat-button [color]="'primary'">
                                                <mat-icon [svgIcon]="'heroicons_outline:arrow-right'"></mat-icon>
                                                <span class="ml-2 mr-1">Assign</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- List of assigned roles-->
                        <div class="flex flex-col w-full">
                            <!-- Roles list -->
                            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                                <div class="grid">
                                    <table *ngIf="rolesList.length > 0; else noAssignedRoles" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                    
                                        <!-- Role name column-->
                                        <ng-container matColumnDef="RoleName">
                                            <th mat-header-cell *matHeaderCellDef>Assigned roles</th>
                                            <td mat-cell *matCellDef="let element" [ngClass]="{'bg-primary-50 ': selectedRow?.roleId == element.roleId}">
                                            <div class="flex flex-auto items-center min-w-5">
                                                <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                                                <span class="ml-1.5 "> {{ element.name }}</span> 
                                            </div>               
                                            </td>
                                        </ng-container>
                            
                                        <!-- Drop down actions -->
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef>Action</th>
                                            <td mat-cell *matCellDef="let element" [ngClass]="{'bg-primary-50 ': selectedRow?.roleId == element.roleId}">
                                                <div class="hidden sm:block">
                                                    
                                                    <!--<button mat-menu-item (click)="RemoveRole(element.roleId)">
                                                        <mat-icon  class="text-red-600" svgIcon="heroicons_outline:folder-remove">
                                                        </mat-icon>
                                                        <span  class="text-red-600">Remove</span>
                                                    </button>-->

                                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button [matMenuTriggerFor]="summaryMenu">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:chevron-down'">
                                                        </mat-icon>
                                                    </button>
                                
                                                    <mat-menu #summaryMenu="matMenu">
                                                        <button mat-menu-item (click)="RemoveRole(element.roleId)">
                                                            <mat-icon  class="text-grey-600" svgIcon="mat_solid:delete_outline">
                                                            </mat-icon>
                                                            <span  class="text-grey-600">Remove</span>
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                            </td>
                                        </ng-container>
                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns"  (click)="onRowClick($event, row)"></tr>
                                    </table>
                                    
                                    <!-- No subcategories -->
                                    <ng-template #noAssignedRoles>
                                        <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">There are no roles assigned!</div>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group> 
    </div>
</div>