/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */


// added for users list paginator 
.coustom-grid-box {
    position: relative;
}
.coustom-paginator-box .mat-paginator-container {
    position: fixed;
    bottom: 0;
    background: white;
}