tr.mat-row { height: 65px; }

.mat-row:hover {
    background-color: #F1F5F9;
  }
.mat-column-Action {
    width: 100px;
}
.mat-column-Active {
    width: 100px;
}
.mat-column-Icon {
    width: 150px;
}
.mat-column-countRegions {
    width: 150px;
}
.mat-header-cell {
    font-weight: bold;  
}