<p>settings works!</p>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex flex-col flex-auto">
        <div
            class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Settings</div>
                <div class="flex items-center mt-0.5 font-medium text-secondary">
                    Overview of general settings of the Al.Firdaws platform
                </div>
            </div>
        </div>

        <div class="p-6 md:p-8 space-y-8">
            <div class="font-medium">Users,Roles & Security</div>
            <div class="flex flex-wrap -m-2 mt-2">
                <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                    <a class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8">
                        
                    </a>

                </div>
            </div>

            <div class="font-medium">UI settings & Languages</div>
            <div class="flex flex-wrap -m-2 mt-2">
                <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                </a>
            </div>

            <div class="font-medium">Al.firdaws settings</div>
            <div  class="flex flex-wrap -m-2 mt-2" >
                <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card">
                </a>
            </div>

        </div>
    </div>
</div>