
<!-- <div class="-ml-4 sm:mt-8">
    <a
        mat-button
        [routerLink]="['../']"
        [color]="'primary'">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
        <span class="ml-2">Back to Users</span>
    </a>
</div> -->
<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <!-- Title -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon svgIcon="heroicons_outline:user"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Create new user</div>
                    </ng-container>
                    
                </div>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="back()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>
    </div>

    <div class="shadow-lg overflow-auto">
        <div class="flex border-b">
            <!-- Add User form -->
            <form
                class="flex flex-col w-full"
                [formGroup]="userForm">
                <div class="flex flex-col sm:flex-row p-8">
                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                        <div class="flex mb-4">
                            <div class="box pr-4">
                                <div class="js--image-preview"></div>
                                <div class="upload-options">
                                    <label>Load Picture
                                        <input type="file" class="image-upload" accept="image/*" />
                                    </label>
                                </div>
                            </div>
                            <div class="right-content">
                                <mat-form-field class="w-full">
                                    <mat-label>First Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'firstname'">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Last Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'lastname'">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="flex">
                            <mat-form-field class="w-full mr-3">
                                <mat-label>User name</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'username'">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email address</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'email'">
                            </mat-form-field>
                        </div>
                        <div class="flex mb-3">
                            <mat-form-field class="w-full mr-3">
                                <mat-label>Password</mat-label>
                                <input type="password"
                                    matInput
                                    [formControlName]="'password'">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Password (repeat)</mat-label>
                                <input type="password"
                                    matInput
                                    [formControlName]="'repeatpassword'">
                            </mat-form-field>
                        </div>
                        <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'shouldchangepasswordonnextlogin'">
                            Should change password on next login
                        </mat-checkbox>
                        <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'sendactivationemail'">
                            Send activation email
                        </mat-checkbox>
                        <mat-checkbox class="mb-3" [color]="'primary'" [formControlName]="'active'">
                            Active
                        </mat-checkbox>
                        <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">
                            <button (click)="back()" class="mr-4" mat-flat-button [color]="'primary'">
                                <span class="ml-2 mr-1">Cancel</span>
                            </button>
                            <button mat-flat-button [color]="'primary'">
                                <span class="ml-2 mr-1">Submit</span>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>