<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Users</div>
        <!-- <div class="flex items-center mt-0.5 font-medium text-secondary">
            Overview of general settings of the Al.Firdaws platform
        </div> -->
        <!-- Action -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            
            <!-- Add user button -->
            <button class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
            <button class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'arrow_back'"></mat-icon>
                <span class="ml-2 mr-1">back</span>
            </button>
        </div>
    </div>

    <!-- Main div -->
    <div class="">
        
        <table class="rwd-table">
          <tbody>
            <tr>
              <th>Pitcture</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email address</th>
              <th>Role</th>
              <th>Is Active</th>
              <th>Last logged in</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr>
              <td >
                
              </td>
              <td >
                ttttttttt
              </td>
              <td >
                ttttttttttt
              </td>
              <td >
                ttttttttt
              </td>
              <td >
                t2@test.com
              </td>
              <td >
               
              </td>
              <td>
                
              </td>
              <td>
                2022-08-16T15:13:42.893
              </td>
              <td>
                Edit
              </td>
              <td>
                Delete
              </td>
            </tr>
            <tr>
                <td >
                  
                </td>
                <td >
                  yash
                </td>
                <td >
                  yd
                </td>
                <td >
                  
                </td>
                <td >
                    yash.depani@techextensor.com
                </td>
                <td >
                  
                </td>
                <td>
                  
                </td>
                <td>
                  2022-08-16T15:13:42.893
                </td>
                <td>
                  Edit
                </td>
                <td>
                  Delete
                </td>
              </tr>
              <tr>
                <td >
                  
                </td>
                <td >
                    yashd
                </td>
                <td >
                    yash
                </td>
                <td >
                    patel
                </td>
                <td >
                    yash@test.com
                </td>
                <td >
                  
                </td>
                <td>
                  
                </td>
                <td>
                    2022-08-16T16:36:58.213
                </td>
                <td>
                  Edit
                </td>
                <td>
                  Delete
                </td>
              </tr>
          </tbody>
        </table>
        <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
      </div>