<!-- Button -->
<div>
    <button mat-icon-button [matMenuTriggerFor]="userActions">
        <span class="relative">
            <img class="w-7 h-7 rounded-full" *ngIf="user.picture" [src]="user.picture">
            <img class="w-12  rounded-full" *ngIf="user.picture == null"
                src="../../../../assets/images/avatars/nopicture.png" />
        </span>
    </button>
</div>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as {{user.userName}}</span>
            <span class="text-md font-medium mt-2">({{user.email}})</span>
        </span>
    </button>
    <mat-divider class="my-2 mt-4"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Settings</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_solid:chat'"></mat-icon>
        <span>Messages</span>
    </button>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>