tr.mat-row { height: 75px; }

.mat-row:hover {
    background-color: #F1F5F9;
  }

.mat-column-Action {
    width: 100px;
}
.mat-column-Active {
    width: 100px;
}
.mat-column-Icon {
    width: 150px;
}
.mat-column-Sequence {
    width: 100px;
}
.mat-column-countSubcategories {
    width: 150px;
}
