<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Header -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon svgIcon="heroicons_outline:user-group"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div *ngIf="!isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Create new role</div>
                        <div *ngIf="isEditMode && roleData"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            Edit roleaaa : {{roleData.name}}</div>
                    </ng-container>

                </div>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="navigateBack()" class="ml-4" mat-flat-button [color]="'accent'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>

    </div>
    <div class="flex min-h-10"></div>

    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Role">
            <!-- Form-->
            <div class="shadow-lg overflow-auto">
                <div class="flex border-b border-b border-t border-l border-r">
                    <!-- Add Role form -->
                    <form class="flex flex-col w-full" [formGroup]="roleForm">
                        <div class="flex flex-col sm:flex-row p-8">
                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                <!--Role name field-->
                                <div class="flex">
                                    <mat-form-field class="w-full mr-3">
                                        <mat-label>Role name</mat-label>
                                        <input matInput [formControlName]="'name'">
                                        <mat-error *ngIf="roleForm.get('name').hasError('required')">
                                            Role name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!--Role type field-->
                                <div class="flex">
                                    <mat-form-field class="w-full mr-3">
                                        <mat-label>Role type</mat-label>
                                        <mat-select [formControlName]="'isStatic'">
                                            <mat-option value="true">Static</mat-option>
                                            <mat-option value="false">Dynamic</mat-option>
                                            <mat-error *ngIf="roleForm.get('isStatic').hasError('required')">
                                                Type is required
                                            </mat-error>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!--Role description field-->
                                <div class="flex mb-3">
                                    <mat-form-field class="w-full mr-3">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput rows="5" [formControlName]="'description'"></textarea>
                                    </mat-form-field>
                                </div>
                                <!--Buttons -->
                                <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">
                                    <button (click)="navigateBack()" class="mr-4" mat-flat-button>
                                        <span class="ml-2 mr-1">Cancel</span>
                                    </button>
                                    <button *ngIf="isEditMode" mat-flat-button [color]="'primary'"
                                        [disabled]="roleForm.disabled" (click)="editRole()">
                                        <span class="ml-2 mr-1">Update</span>
                                    </button>
                                    <button *ngIf="!isEditMode" mat-flat-button [color]="'primary'"
                                        [disabled]="roleForm.disabled" (click)="addRole()">
                                        <span class="ml-2 mr-1">Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Permissions">
            <div>
                <mat-table [dataSource]="dataSource" id="permission-table" class="mat-elevation-z8">
                    <!-- Module Column-->
                    <ng-container matColumnDef="module">
                        <mat-header-cell *matHeaderCellDef>Module</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.module}} </mat-cell>
                    </ng-container>

                    <!-- CREATE Column -->
                    <ng-container matColumnDef="create">
                        <mat-header-cell *matHeaderCellDef> CREATE </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngmodel)]="element.create"
                                    (change)="element.create = $event.checked;" [checked]="element.create">
                                </mat-checkbox>
                            </section>
                        </mat-cell>
                    </ng-container>

                    <!-- READ Column -->
                    <ng-container matColumnDef="read">
                        <mat-header-cell *matHeaderCellDef> READ </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngmodel)]="element.read"
                                    (change)="element.read = $event.checked;" [checked]="element.read">
                                </mat-checkbox>
                            </section>
                        </mat-cell>
                    </ng-container>

                    <!-- UPDATE Column -->
                    <ng-container matColumnDef="update">
                        <mat-header-cell *matHeaderCellDef> UPDATE </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngmodel)]="element.update"
                                    (change)="element.update = $event.checked;" [checked]="element.update">
                                </mat-checkbox>
                            </section>
                        </mat-cell>
                    </ng-container>

                    <!-- DELETE Column -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> DELETE </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngmodel)]="element.delete"
                                    (change)="element.delete = $event.checked;" [checked]="element.delete">
                                </mat-checkbox>
                            </section>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>