<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        
        <!-- Header -->
        <div>
            <div class="flex flex-auto items-center min-w-0">
                <mat-icon svgIcon="heroicons_outline:user-group"></mat-icon>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div *ngIf = "!isEditMode"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Create new role</div>
                        <div *ngIf = "isEditMode && roleData"
                            class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Edit role : {{roleData.name}}</div>
                    </ng-container>
                    
                </div>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button (click)="navigateBack()" class="ml-4" mat-flat-button [color]="'accent'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back</span>
            </button>
        </div>

    </div>

      <!-- Form-->
      <div class="shadow-lg overflow-auto">
        <div class="flex border-b">
            <!-- Add Role form -->
            <form
                class="flex flex-col w-full"
                [formGroup]="roleForm">
                <div class="flex flex-col sm:flex-row p-8">
                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                        
                        <div class="flex">
                            <mat-form-field class="w-full mr-3">
                                <mat-label>Role name</mat-label>
                                <input matInput [formControlName]="'name'"> 
                                <mat-error *ngIf="roleForm.get('name').hasError('required')">
                                        Role name  is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="w-full mr-3">
                                <mat-label>Role type</mat-label>
                                <mat-select [formControlName]="'isStatic'" >
                                    <mat-option value="true">Static</mat-option>
                                    <mat-option value="false">Dynamic</mat-option>
                                    <mat-error *ngIf="roleForm.get('isStatic').hasError('required')">
                                        Type  is required
                                    </mat-error>  
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex mb-3">
                            <mat-form-field class="w-full mr-3">
                                <mat-label>Description</mat-label>
                                <textarea matInput rows="5"  [formControlName]="'description'"></textarea>
                            </mat-form-field>
                        </div>
                        
                        <div class="flex shrink-0 items-center mt-6 justify-end sm:ml-4">
                            <button (click)="navigateBack()" class="mr-4" mat-flat-button >
                                <span class="ml-2 mr-1">Cancel</span>
                            </button>
                            <button *ngIf="isEditMode" mat-flat-button [color]="'primary'" [disabled]="roleForm.disabled" (click)="editRole()">
                                <span class="ml-2 mr-1">Update</span>
                            </button>
                            <button *ngIf="!isEditMode" mat-flat-button [color]="'primary'" [disabled]="roleForm.disabled" (click)="addRole()">
                                <span class="ml-2 mr-1">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>